/bin/
/obj/

*.user
*.suo
*.sln.docstates

/packages/
*.nupkg

[Tt]emp/
[Oo]bj/
[Bb]in/

*.suo
*.user
*.sln.docstates

*.log
*.log.*
*.mdf
*.ldf

.vscode/
.idea/
.suo
.user
.sln.docstates

*.mdf
*.ldf